body {

    margin: 2%;

}

.right {

    text-align: right;

}

.left {

    text-align: left;

}

.center {

    text-align: center;
    margin: auto

}

.top{
/* Style stuff */
}

.bottom{
  /* Style stuff */
}

#columns {

    display: flex;

}

#constrained {

    margin: 5%

}

#form1 {

    display: flex;
    justify-content: center;
    gap: 20px;

}
