{% extends "base.html.j2" %}

{% block body %}

<div class="right">
    <a href="register" class="btn btn-primary">
        Register
    </a>
    <a href="create" class="btn btn-primary">
        Create a New Website
    </a>
</div>
<h1 class="center">Welcome to the new Project Insite!!!</h1>
<hr>
<div class="center" id="constrained">
    <p>Here at Project Insite, we provide the best user experience of all. Our registration system is easy to
        use and very user-friendly. Due to the new law passed by the international corporations corporation, we will no
        longer be offering a "log in" system as the law states that "log in systems are bad." In addition, due to a law
        passed by the universal alien inc., we will no longer support multiversal travel of any kind, so you all will
        have to settle with just this universe for now. Finally, all tax fraud has been banned within the state of
        Hawaii, so if you live in Hawaii then we suggest you stop commiting tax fraud. Anyways, have fun at our website!
    </p>
    <hr>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">View our promotional video here</a>
</div>

{% endblock %}