{% extends "base.html.j2" %}

{% block body %}

<h1 class="center">Choose a Template:</h1>
<form method="POST" action="editwebsite">
    <input type="submit" value="Next" class="btn btn-primary">
</form>

{% endblock %}