{% extends "base.html.j2" %}


{% block title %}

<title>Home</title>

{% endblock title %}

{% block head %}


<!-- Header -->
    <!-- Image Thing -->
<!-- -->
<!-- 
    400px
    rgba(0, 20, 74, 0.5)
    static/HomeHeader.png
    61% 21%
-->
<div id = "header"
  class="slant-header container-fluid d-flex justify-content-center"
  style="
    height: {{head_height}} ;
    background-image: linear-gradient( {{head_color}}, {{head_color}}), url(' {{head_img}} ');
    background-position: {{head_img_pos}};
    background-attachment:fixed;

    "
>
    <!-- justify-content is y-axis, align-items is x-axis -->
    <div id="header-contents" 
        class="d-flex flex-column justify-content-center align-items-end"
        style="width: 75%"
    >
        <!-- Heading -->
        <!-- SM Links -->
        <!-- burnie.com -->
        <div id="site-name" class="d-flex flex-row">
            <h1 class="mt-4 mb-4"> {{site_name}} </h1>
        </div>
        <!--
        https://www.instagram.com/burnie/
        https://www.twitter.com/burnie
        mailto:kellan@edgy.org
        -->
        <div id="SM-links" class="d-flex flex-row">
            <a class="m-2" href="{{instagram}}">instagram</a>
            <a class="m-2" href="{{twitter}}">twitter</a>
            <a class="m-2" href="{{email}}">email</a>
        </div>
    </div>
</div>

{% endblock %}

{% block body %}


<!-- Main Body -->
<!-- 3 Columns -->
<div id="main-body" class="container mt-5 mb-5">
    <div class="row">


        <!-- Column 1 -->
        <div id="new-map" class="col-3">
            <!-- Heading -->
            <h2> {{left_col}} </h2>
        </div>
        <!-- Column 2 -->
        <div id="mid-text" class="col-6">
            <!-- Text -->
            {% for paragraph in paragraphs %}
                <p>{{paragraph}}</p>
            {% endfor %}
        </div>
        <!-- Column 3 -->
        <div id="burnie-img" class="col-3">
            <!-- Image -->
            <img src="{{right_col_img}}" alt="{{img_alt}}" width="{{img_width}}" height="{{img_height}}">
        </div>
    </div>
</div>


{% endblock %}
