{% extends "base.html.j2" %}

{% block head %}

<title>About</title>
<p>You ever have a dream so boring, that in it you were reading the About page on a middle-aged influencer's website?</p>

{% endblock %}

{% block body %}

<!-- Heading -->

<h1>Our Commitment to Excellents</h1>
<div class="container">
  <!-- Top row -->
  <div class="row">

    <!-- Top left -->

      <div class="col-4">
        <!-- Image -->
        <img src="static/LeaningBurnie.jpg" alt="leaning burnie">
        <!-- Heading -->
        <h2>Smooth</h2>
        <!-- Text -->
        <p>Writer. Director. Father. One hundred percent lifetime field goal kicker. Entrepreneur. Actor. Cheeseburger. Large Coke. To Go.</p>
      </div>

      <!-- Top center -->

      <div class="col-4">
        <!-- Image -->
        <img src="static/CoolBurnie.jpg" alt="cool burnie">
        <!-- Heading -->
        <h2>Self-dressing</h2>
        <!-- Text -->
        <p>Zippers. Buttons. Nothing curbs his pure passion for putting on clothes to protect himself from the elements.</p>
      </div>

      <!-- Top right -->

      <div class="col-4">
        <!-- Image -->
        <img src="static/YoungBurnie.jpg" alt="young burnie top">
        <!-- Heading -->
        <h2>1400 on the SAT</h2>
        <!-- Text -->
        <p>Suck it, Bobby. You had to go to Tech.</p>
      </div>
    </div>
  <!-- Bottom row -->
  <div class="row">
    <!-- Bottom left -->

    <div class="col-4">
      <!-- Image -->
      <img src="static/GunKids.jpg" alt="gun kids">
      <!-- Heading -->
      <h2>Prepared for the future with weaponized youth</h2>
      <!-- Text -->
      <p>Radicalizing children since 2002. Volume discounts.</p>
    </div>

    <!-- Bottom center -->

    <div class="col-4">
      <!-- Image -->
      <img src="static/Wife.jpg" alt="wife">
      <!-- Heading -->
      <h2>Wife. Now with butt</h2>
      <!-- Text -->
      <p>She doesn't know this was posted.

          Exhibit A, Divorce Proceedings.</p>
    </div>

    <!-- Bottom right -->

    <div class="col-4">
      <!-- Image -->
      <img src="static/YoungBurnie2.jpg" alt="young burnie bottom">
      <!-- Heading -->
      <h2>Three pieces of wide collared manhood</h2>
      <!-- Text -->
      <p>While you were reading this, he stole your girl. No take backs, champ.</p>
    </div>

  </div>

</div>

{% endblock %}
