{% extends "base.html.j2" %}

{% block head %}

<title>About</title>
<p>You ever have a dream so boring, that in it you were reading the About page on a middle-aged influencer's website?</p>

{% endblock %}

{% block body %}

<!-- Heading -->

<h1></h1>

<!-- Top left -->

<div class="top left">

</div>

<!-- Top center -->

<div class="top center">

</div>

<!-- Top right -->

<div class="top right">

</div>

<!-- Bottom left -->

<div class="bottom left">
  
</div>

<!-- Bottom center -->

<div class="bottom center">

</div>

<!-- Bottom right -->

<div class="bottom right">

</div>

{% endblock %}
