{% extends "base.html.j2" %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}

<!-- Header -->

    <!-- Nav Bar -->
        <!-- Home/About -->
        <!-- Text -->
    <!-- Image Thing -->
        <!-- Heading -->
        <!-- SM Links -->

<!-- Main Body -->
<!-- 3 Columns -->
<div id="columns">

    <!-- Column 1 -->
    <div class="left">
        <!-- Heading -->
        <h2>gg new map</h2>
    </div>
    <!-- Column 2 -->
    <div class="center">
        <!-- Text -->
        <p>
        In the summer of 1990, I packed everything I owned into a beat up old Nissan and set out for Austin to study Biology/PreMed at the University of Texas. Over the next thirty years, I changed majors twice, made some incredible friends, sold the car for two hundred dollars, had a wild dotcom career in telecom, raised three sons and started a small media company in a spare bedroom of my house that blossomed into something beyond my wildest dreams. It is a bit surreal that three decades later, almost to the day, I will be moving out of this city that I may always call “home” to begin a grand new adventure in a life overseas.

And as I set out on this new journey with my family and two cats at my side, that means my time walking the halls here at Rooster Teeth has come to an end. As some of you have predicted over the past year, my steady move away from a public life was in preparation for this change. So I hope this will not come as too much of a surprise. A few months ago, I enjoyed returning to the spotlight for a short podcast run with my old friends, and I would like to be able to continue to explore my creative passions. To that end, Rooster Teeth and I are currently working on a first-look agreement, which will enable me to incubate my own projects and then present them to the company for possible development.

It is difficult to leave my home country during such a tumultuous time. Ashley and I set these plans in motion over two years ago, and we could never have predicted the state of the world at the time we would embark. We believe in the strength and the promise of this nation as much as ever. We look forward to returning to a country that has made many long overdue changes to benefit all of its citizens.

I want to express my deepest gratitude to everyone who supported me in my career at RT, with special thanks to Tony Goncalves who so skillfully leads the Otter family and Jordan Levin, who has RT moving in incredible new directions. Starting this company and growing it in the early years were some of the hardest but greatest moments of my life. The constant camaraderie of Gus, Geoff, and Matt always made the impossible seem achievable; I could not have asked for better companions on this journey. My wife Ashley has been the stable bedrock of my life and I am overjoyed to begin this next chapter of our family's story together.

Thank you to every person who has walked through these doors as a collaborator or tuned in to one of our videos as a viewer or made the choice to become a member of our community. Your support has meant the world to me and I hope that I had even a fraction of the positive impact on your life that you have had on mine. There have been a lot of ups and a few downs over the years, and I have learned so much from all of those experiences. I am eternally grateful that I had the opportunity to do what I love every day — an opportunity that I owe entirely to all of you.

Thank you.

Be nice and work hard.


Burnie


        </p>
    </div>
    <!-- Column 3 -->
    <div class="right">
        <!-- Image -->
        <img src="static/BURNIE.jpeg" alt="smiling burnie">
    </div>

</div>


{% endblock %}
