{% extends "base.html.j2" %}

{% block body %}

<!-- Header -->
    <!-- Nav Bar -->
        <!-- Home/About -->
        <!-- Text -->
    <!-- Image Thing -->
        <!-- Heading -->
        <!-- SM Links -->

<!-- Main Body -->
<!-- 3 Columns -->
    <!-- Column 1 -->
        <!-- Heading -->
    <!-- Column 2 -->
        <!-- Text -->
    <!-- Column 3 -->
        <!-- Image -->

<!-- Footer -->
    <!-- Home/About -->
    <!-- Copyright -->
    <!-- Link -->

{% endblock %}