{% extends "base.html.j2" %}

{% block head %}

<title>Privacy Policy</title>
<p>Listen. You just mind your own beeswax and I'll mind mine.</p>

{% endblock %}

{% block body %}

<p>Void in the EU. Don't even look at this or I'm calling the gendarmes, Pierre.</p>

{% endblock %}
