{% extends "base.html.j2" %}


{% block head %}

<title>Privacy Policy</title>

<div id="header"
  class="bg-image d-flex justify-content-start"
  style="
    height:600px;
    background-color:#00144a;
    color:#ffffff;
    background-image: linear-gradient(rgba(0, 20, 74, 0.5), rgba(0, 20, 74, 0.5)), url('static/PrivacyHeader.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:51% 35%;
    background-attachment:scroll;
    clip-path:polygon(0 0, 100% 0px, 100% calc(100% - 100px), 0 100%);
    -webkit-clip-path:polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
    "
>
    <div id="header-contents" class="d-flex flex-column">
        <h1 class="m-4">Privacy Policy</h1>
        <p class="m-4">Listen. You just mind your own beeswax and I'll mind mine.</p>
    </div>
 
</div>

{% endblock %}

{% block body %}

<p>Void in the EU. Don't even look at this or I'm calling the gendarmes, Pierre.</p>

{% endblock %}
